
.ConvertView {
  $input-height: 42px;

  min-height: 65vh;

  .force-select {
      -webkit-user-select: all; // Chrome 49+
         -moz-user-select: all; // Firefox 43+
          -ms-user-select: all; // No support yet
              user-select: all; // Likely future
  }

  .items {
      display: grid;
      grid-template-columns: 0fr  1fr 0fr;
      grid-gap: 1.0rem 1.0rem;
      margin-top: 1.0rem;
  }

  .col13 {
      grid-column: 1 / 4;
  }
  .col23 {
      grid-column: 2 / 4;
  }

  @media (max-width: 767px) {
    .mo-col12 {
      grid-column: 1 / 3;
    }
    .mo-col13 {
      grid-column: 1 / 4;
    }

    .result-label {
      line-height: 1.6em;
    }

    .convert-label select {
        width: 100%;
    }
  }

  .base-code {
    width: 100%;
    box-sizing: border-box;
  }

  .result-label {
    cursor: pointer;
  }

  .result-label,
  .convert-label,
  .result-swap {
    line-height: $input-height;
  }

  .result-text input {
      box-sizing: border-box;
      min-width: 100%;
      width: 100%;
  }

  .item-result {
    width: 100%;
    margin-top: 2.0rem;
  }

  .svg-swap {
      width: 1.8rem;
      height: 1.8rem;
  }

  .inputlike {
      box-sizing: border-box;
      border: 1px solid #e0e0e0;
      font-family: monaco, courier, monospace;
      letter-spacing: 0.07em;

      line-height: $input-height - 8;
      height: $input-height;
      padding: 3px 13px;
      font-size: 16px;

      &.multiline {
          min-height: $input-height;
          height: auto;
      }
  }

  .convert-form .inputlike {
      width: 100%;
  }

  .lang-code-html {
      color: #000;

      .lang-code {
          font-weight: bold;
          font-style: normal;
          color: #039be5; // #0097A7; // #43A047;
      }

      .lang-unknown {
          font-weight: normal;
          font-style: normal;
          color: #bdbdbd; // #E53935;
          text-decoration: line-through;
      }
  }

  .anchor {
    opacity: 0;
    transition: opacity 200ms ease-in-out;

    display: inline-block;
    vertical-align: top;
    margin: -2px 0 0 5px;
    font-size: .8em;

    @media (max-width: 767px) {
      opacity: 1;
    }
  }

  h2:hover .anchor {
    opacity: 1;
  }
}
