
.FormatSamples {

    table {
        width: 100%;
        line-height: 2.2rem;
        margin: 0 -1.0rem;
    }

    tr {
        border-bottom: 1px solid #dedede;
        cursor: pointer;
        padding: 0;

        &:hover {
            background: #ffd;
        }
    }

    th, td {
        padding: 1.0rem 1.0rem;
        vertical-align: top;
    }

    .current {
        font-style: italic;
    }

    .code {
        position: relative;

        &:after {
            content: "→";
            position: absolute;
            top: 50%;
            right: 0;
            height: 10px;
            line-height: 10px;
            font-size: 10px;
            margin-top: -5px;
            color: #999;
        }
    }

    .disclaimer {
        color: #999;
        font-size: .8em;
        margin-top: 4.0rem;
        font-style: italic;
    }
}
