
$font-color: #333;

html, body, div {
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: normal 1.4rem/2.0rem "Helvetica Neue",helvetica,arial,hirakakupro-w3,osaka,"ms pgothic",sans-serif;
  color: $font-color;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

$link-color: #0091EA;
$link-color-hover: #00B0FF;
$link-color-active: #000;

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }

    &:active {
        color: $link-color-active;
    }
}

.link-colors {
    color: $link-color;
    &:hover { color: $link-color-hover; }
    &:active { color: $link-color-active; }
}

h1 {
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin: 0 0 2.0rem;

    padding-bottom: 1.0rem;
    border-bottom: 1px solid #039be5;

    a,
    a:hover,
    a:active {
        color: $font-color;
    }

    small {
        display: block;
        font-size: 1.4rem;
        line-height: 1.6;
        font-style: italic;
    }

    @media (max-width: 480px) {
        text-align: center;
    }
}

h2 {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 0 0 2.0rem;
}

.container {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2.5rem;
}

.widget {
  margin-bottom: 2.0rem;
}

.widget2x {
  margin-bottom: 6.0rem;
}

.hide {
  display: none;
}

.nowrap {
    white-space: nowrap;
}

.svg-icon {
  width: 1.0rem;
  height: 1.0rem;
  vertical-align: middle;
  margin-left: 0.2em;
}

.right { float: right; }
.left { float: left; }

.text-center {
    text-align: center;
}
