
.RefTable {
    padding: 0;

    .tr-header {
        font-weight: bold;
    }

    .tr-header td {
        padding: 1em 0;
    }

    .td-code {
        white-space: nowrap;
    }

    .td-info {
        padding: 0 20px;
    }

    .odd td {
        background: #aaa;
    }
}
