
/*
// header #039be5 #0277bd
// odd #fff
// even #e1f5fe #b3e5fc
*/

.TightGrid {
    margin-bottom: 2em;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        line-height: 2.2rem;
    }

    th, td {
        border: 1px solid #dedede;
        padding: 3px 12px;
        vertical-align: top;
    }

    th {
        text-align: left;
        border-color: #bdbdbd;
    }

    .item-cat {
        text-align: right;
        font-weight: bold;
    }

    .item-example,
    .item-info {
        white-space: pre-line;
    }

    .item-example {
        max-width: 250px;
    }

    .info-link {
        float: right;
        margin: 1px 0 0 15px;
        visibility: hidden;
        color: #999;
        font-size: .8em;
    }

    tr:hover .info-link {
        visibility: visible;
    }

    .info-content {
        display: block;
        margin-top: .5em;
        font-style: italic;
        color: #999;
    }

    .mono {
        font-family: Courier New, monospace;
    }
}
